.Nav {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  height: 100px;

  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;

    img {
      width: 100px;
      height: 100px;
    }
  }
  .right {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.imgCarrusel {
  width: 100%;
  height: 50%;
}
