*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.worker{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 25px;
    &__logo{
        img{
            width: 100px;
            height: 100px;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
    }
    &__card{
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;

        &__image{
            height: 70px;
        }
    }
}

.details{
background-color: gray;
display: flex;
flex-direction: column;
&__card{
   margin: 0 auto;
}
&__work{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    
}
}